<div class="design--div">
    <div class="design--div--inside">
        <i class="fa-regular fa-object-ungroup design--div--inside--icon"></i>
        <legend class="design--div--inside--legend">Diseña</legend> <!--Poner mayúsculas en css/js-->
    </div>
    <i class="fa-solid fa-angle-up design--div--arrow"></i>
    <i class="fa-solid fa-angle-down design--div--arrow"></i>
</div>

<form action="">
    <div class="design--palette">
        <h2 class="design--palette--p"> Colores</h2> <!--Poner mayúsculas en css/js-->
        <label for="color1" class="design--palette--box">
        <div class="design--palette--box--1">
            <input class="design--palette--box--selector" type="radio" value="1" name="palette" checked />
            <div class="design--palette--box--1left littlebox"></div>
            <div class="design--palette--box--1middle littlebox"></div>
            <div class="design--palette--box--1right littlebox"></div>
        </div>
        </label>
        <label for="color2" class="design--palette--box">
        <div class="design--palette--box--2">
            <input class="design--palette--box--selector" type="radio" value="2" name="palette" />
            <div class="design--palette--box--2left littlebox"></div>
            <div class="design--palette--box--2middle littlebox"></div>
            <div class="design--palette--box--2right littlebox"></div>
        </div>
        </label>
        <label for="color3" class="design--palette--box">
        <div class="design--palette--box--3">
            <input class="design--palette--box--selector" type="radio" value="3" name="palette" />
            <div class="design--palette--box--3left littlebox"></div>
            <div class="design--palette--box--3middle littlebox"></div>
            <div class="design--palette--box--3right littlebox"></div>
        </div>
        </label>
    </div>
</form>