<h2 class="main--2--form--design--palette--p">Colores</h2> <!--Poner mayúsculas en css/js-->
<!-- <label for="color1" class="design--palette--box"> -->
<div class="main--2--form--design--palette--box main--2--form--design--palette--box--1">
    <input class="main--2--form--design--palette--box--selector" type="radio" value="1" name="palette" checked />
    <div class="main--2--form--design--palette--box--1left littlebox"></div>
    <div class="main--2--form--design--palette--box--1middle littlebox"></div>
    <div class="main--2--form--design--palette--box--1right littlebox"></div>
</div>
<!-- </label> -->
<!-- <label for="color2" class="design--palette--box"> -->
<div class="main--2--form--design--palette--box main--2--form--design--palette--box--2">
    <input class="main--2--form--design--palette--box--selector" type="radio" value="2" name="palette" />
    <div class="main--2--form--design--palette--box--2left littlebox"></div>
    <div class="main--2--form--design--palette--box--2middle littlebox"></div>
    <div class="main--2--form--design--palette--box--2right littlebox"></div>
</div>
<!-- </label> -->
<!-- <label for="color3" class="design--palette--box"> -->
<div class="main--2--form--design--palette--box main--2--form--design--palette--box--3">
    <input class="main--2--form--design--palette--box--selector" type="radio" value="3" name="palette" />
    <div class="main--2--form--design--palette--box--3left littlebox"></div>
    <div class="main--2--form--design--palette--box--3middle littlebox"></div>
    <div class="main--2--form--design--palette--box--3right littlebox"></div>
</div>
<!-- </label> -->