<label class="main--2--form--fill--div--label--fullName" for="fullName">Nombre completo <i class="fas fa-asterisk" aria-hidden="true"></i></label>
<input placeholder="Ej: Sally Jill" type="text" id="fullName" name="name"  class="main--2--form--fill--div--input js-input" required />
<small class="js-error"></small>
<label class="main--2--form--fill--div--label--job" for="job">Puesto <i class="fas fa-asterisk" aria-hidden="true"></i></label>
<input placeholder="Ej: Front-end unicorn" type="text" id="job" name="job"
    class="main--2--form--fill--div--input js-input " required />
<small class="js-error"></small>
<div class="main--2--form--fill--div--img">
    <label class="main--2--form--fill--div--img--label--image" for="image">Imagen de perfil <i class="fas fa-asterisk" aria-hidden="true"></i> </label>
    <label class="main--2--form--fill--div--img--label--falseBtn" for="image">Añadir imagen</label>
    <input type="file" id="image" name="photo" accept="image/*" class="main--2--form--fill--div--img--input js-input js__profile-upload-btn" />
    <div class="main--2--form--fill--div--img--div--rectangle js__profile-image"></div>
</div>
<label class="main--2--form--fill--div--label--email" for="emailAddress">Email <i class="fas fa-asterisk" aria-hidden="true"></i></label>
<input placeholder="Ej: sally-hill@gmail.com" type="email" id="emailAddress" name="email"
    class="main--2--form--fill--div--input js-input " required />
<small class="js-error"></small>
<label class="main--2--form--fill--div--label--phone" for="phone">Teléfono</label>
<input placeholder="Ej: 555-55-55-55" type="tel" id="phone" name="phone" class="main--2--form--fill--div--input js-input"  required />
<label class="main--2--form--fill--div--label--linkedin" for="linkedin">Linkedin <i class="fas fa-asterisk" aria-hidden="true"></i></label>
<input placeholder="Ej: sally.hill" type="text" id="linkedin" name="linkedin"
    class="main--2--form--fill--div--input js-input" required />
<small class="js-error"></small>
<label class="main--2--form--fill--div--label--github" for="github">Github <i class="fas fa-asterisk" aria-hidden="true"></i></label>
<input placeholder="Ej: sally.hill" type="text" id="github" name="github"
    class="main--2--form--fill--div--input js-input" required />
<small class="js-error"></small>