<!-- <!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Awesome profile-cards</title>
    <!-- Google Fonts
      <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    -->
<!-- Icons
    
    -->
<!-- <script src="https://kit.fontawesome.com/220bd5c4c4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./assets/css/main.css" />
    <link rel="icon" href="./assets/images/favicon.png" />
</head>

<body> -->
-->



<div class="fill--div">
    <span class="fill--div--keyboard"><i class="fa-regular fa-keyboard"></i></span>
    <legend class="fill--div--title">Rellena</legend>
    <span class="fill--div--down"><i class="fa-solid fa-chevron-down"></i></span>
    <span class="fill--div--up"><i class="fa-solid fa-chevron-up"></i></span>
</div>


<label class="fill--label--fullName" for="fullName">Nombre completo</label>
<input placeholder="Ej.: Sally Jill" type="text" id="fullName" name="fullName" class="fill--input--fullName" />

<label class="fill--label--job" for="job">Puesto</label>
<input placeholder="Ej.: Front-end unicorn" type="text" id="job" name="job" class="fill--input--job" />

<!-- en el de la imagen utilizar un div con estilos de botón y luego linkearlo al input cuando se haga el js, ocultar el
input real como pone aquí https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/file y aquí https://mdn.github.io/learning-area/html/forms/file-examples/file-example.html -->
<label class="fill--label--image" for="image">Imagen de perfil</label>
<label class="fill--label--falseBtn" for="image">Añadir imagen</label>
<input type="file" id="image" name="image" accept="image/*" class="fill--input--image" />
<div class="Rectangle"></div>

<label class="fill--label--email" for="emailAddress">Email</label>
<input placeholder="Ej.: sally-hill@gmail.com" type="email" id="emailAddress" name="emailAddress"
    class="fill--input--email" />

<label class="fill--label--phone" for="phone">Teléfono</label>
<input placeholder="Ej.: 555-55-55-55" type="tel" id="phone" name="phone" class="fill--input--phone" />

<label class="fill--label--linkedin" for="linkedin">Linkedin</label>
<input placeholder="Ej.: linkedin.com/in/sally.hill" type="text" id="linkedin" name="linkedin"
    class="fill--input--linkedin" />

<label class="fill--label--github" for="github">Github</label>
<input placeholder="Ej.: @sally.hill" type="text" id="github" name="github" class="fill--input--github" />

<!-- 
</body>

</html> -->