<form class="main--2--form" method="get">
    <fieldset class="main--2--form--design">
        <legend class="main--2--form--design--legend">
            <i class="fa-regular fa-object-ungroup main--2--form--design--legend--icon"></i>
            <h2 class="main--2--form--design--legend--title">Diseña</h2>
            <i class="fa-solid fa-angle-up main--2--form--design--legend--arrow"></i>
        </legend>
        <div class="main--2--form--palette">
            <include src="./design.html"></include>
        </div>
    </fieldset>
    <fieldset class="main--2--form--fill">
        <legend class="main--2--form--fill--legend">
            <i class="fa-regular fa-keyboard main--2--form--fill--legend--keyboard"></i>
            <h2 class="fmain--2--form--fill--legend--title">Rellena</h2>
            <i class="fa-solid fa-chevron-up main--2--form--fill--legend--up"></i>
        </legend>
        <div class="main--2--form--fill--div collapsable">
            <include src="./fill.html"></include>
        </div>
    </fieldset>
    <fieldset class="share">
        <include src="./share.html"></include>
        </div>
    </fieldset>
</form>