<form class="main--2--form" method="get">
    <fieldset class="main--2--form--design">
        <legend title="Despliega la sección de Diseña" class="main--2--form--design--legend js-design-legend">
            <i class="fa-regular fa-object-ungroup main--2--form--design--legend--icon"></i>
            <h2 class="main--2--form--design--legend--title">Diseña</h2>
            <i class="fa-solid fa-chevron-up main--2--form--design--legend--arrow js-design-arrow"></i>
        </legend>
        <div class="main--2--form--design--palette js-design-form">
            <include src="./design.html"></include>
        </div>
    </fieldset>
    <fieldset class="main--2--form--fill">
        <legend title="Despliega la sección de Rellena" class="main--2--form--fill--legend js-fill-legend">
            <i class="fa-regular fa-keyboard main--2--form--fill--legend--keyboard"></i>
            <h2 class="main--2--form--fill--legend--title">Rellena</h2>
            <i class="fa-solid fa-chevron-up main--2--form--fill--legend--up arrow-collapsed js-fill-arrow"></i>
        </legend>
        <div class="main--2--form--fill--div  js-fill-form collapsed">
            <include src="./fill.html"></include>
        </div>
    </fieldset>
    <fieldset class="main--2--form--share">
        <legend title="Despliega la sección de Comparte" class="main--2--form--share--legend js-share-legend">
            <i class="fa-solid fa-share-nodes main--2--form--share--legend--nodes"></i>
            <h2 class="main--2--form--share--legend--title">Comparte</h2>
            <i class="fa-solid fa-chevron-up main--2--form--share--legend--up arrow-collapsed js-share-arrow"></i>
        </legend>
        <div class="main--2--form--share--div  js-share-form collapsed">
            <include src="./share.html"></include>
        </div>
    </fieldset>
</form>