<section class="section--preview">
      <div class="card">
        <button class="card--button">
        <span class="button--reset"><i class="fa-regular fa-trash-can"></i><span>
        reset
        </button>
    <section class="section--profile">
        <div class="div--profile">
            <h1 class="div--name">Nombre apellido</h1>
            <p class="div--p-front">Front-end developer</p>
        </div>
        <div class="div--image"> 
            <img src="./assets/images/paisaje.jpg" alt="image--card">
        </div>
        <nav class="nav--icons">
            <ul class="ul--icons">
                <li class="li--mobile">
                    <a href=""><i class="fa-solid fa-mobile-screen-button"></i></a>
                </li>
                <li class="li--e-mail">
                    <a href=""><i class="fa-light fa-envelope"></i></a>
                </li>
                <li class="li--linkedin"> 
                    <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                </li>
                <li class="li--github">
                    <a href=""><i class="fa-brands fa-github-alt"></i></a>
                </li>
            </ul>
        </nav>
    </section>
    </div>
    </section>
