<main>
    <section class="section__preview">
      <div class="card">
        <button class="card__button">
        <span class="button__reset"><i class="fa-regular fa-trash-can"></i><span>
        reset
        </button>
    <section class="section__profile">
        <div class="div__profile">
            <h1 class="div__name">Nombre apellido</h1>
            <p class="div__p-front">Front-end developer</p>
        </div>
        <div class="div__image"> 
            <img src="./assets/images/paisaje.jpg" alt="image__card">
        </div>
        <nav class="nav__icons">
            <ul class="ul__icons">
                <li class="li__mobile">
                    <a href=""><i class="fa-solid fa-mobile-screen-button"></i></a>
                </li>
                <li class="li__e-mail">
                    <a href=""><i class="fa-light fa-envelope"></i></a>
                </li>
                <li class="li__linkedin> 
                    <a href="><i class="fa-brands fa-linkedin-in"></i></a>
                </li>
                <li class="li__github">
                    <a href=""><i class="fa-brands fa-github-alt"></i></a>
                </li>
            </ul>
        </nav>
    </section>
    </div>
    </section>
</main>