<section class="main--2--preview">
      <div class="main--2--preview--card">
        <button class="main--2--preview--card--button">
        <span class="main--2--preview--card--button--reset"><i class="fa-regular fa-trash-can"></i><span>
        reset
        </button>
    <section class="main--2--preview--profile ">
        <div class="main--2--preview--profile--div palette2  palette3">
            <h1 class="main--2--preview--profile--div--name palette2 palette3">Nombre apellido</h1>
            <p class="main--2--preview--profile--div--p ">Front-end developer</p>
        </div>
        <div class="main--2--preview--profile--div--image"> 
            <!-- <img src="./assets/images/paisaje.jpg" alt="image__card"> -->
        </div>
        <nav class="main--2--preview--profile--icons">
            <ul class="main--2--preview--profile--icons--ul">
                <li class="main--2--preview--profile--icons--ul--mobile palette2 palette3">
                    <a class= " main--2--preview--profile--icons--ul--mobile--a palette2 palette3"href=""><i class="fa-solid fa-mobile-screen-button"></i></a>
                </li>
                <li class="main--2--preview--profile--icons--ul--e-mail palette2 palette3">
                    <a class="main--2--preview--profile--icons--ul--e-mail--a palette2 palette3" href=""><i class="fa-regular fa-envelope"></i></a>
                </li>
                <li class="main--2--preview--profile--icons--ul--linkedin palette2 palette3"> 
                    <a class="main--2--preview--profile--icons--ul--linkedin--a palette2 palette3" href=""><i class="fa-brands fa-linkedin-in "></i></a>
                </li>
                <li class="main--2--preview--profile--icons--ul--github palette2 palette3">
                    <a class="main--2--preview--profile--icons--ul--github--a palette2 palette3" href=""><i class="fa-brands fa-github-alt"></i></a>
                </li>
            </ul>
        </nav>
    </section>
    </div>
    </section>
