<!-- <i class="fa-regular fa-address-card main--2--form--target--icon"></i>
<button class="main--2--form--target--button">Crear tarjeta</button> -->



<div class="main--2--form--share--target">
    <i class="fa-regular fa-address-card main--2--form--share--target--icon"></i>
    <button class="main--2--form--share--target--button js-create-btn">Crear tarjeta</button>

</div>

<div class="main--2--form--share--twitter">
    <h3 class="main--2--form--share--twitter--title">La tarjeta ha sido creada:</h3>
    <p><a class="main--2--form--share--twitter--link js-create-link" href="" target="_blank"></a></p>
    <div class="main--2--form--share--twitter--divTwitter">
        <i class="fa-brands fa-twitter"></i>
        <button class="main--2--form--share--twitter--divTwitter--btnTwitter js-twitter-btn">Compartir en
            Twitter</button>
    </div>

</div>