<div class="share--div">
    <span class="share--div--span">
        <i class="fa-solid fa-share-nodes share--div--span--icon"></i>
        <legend class="share--div--span--legend">Comparte</legend>
    </span>
    <i class="fa-solid fa-angle-up share--div--arrow"></i>
    <i class="fa-solid fa-angle-down share--div--arrow"></i>
</div>

<div class="share--target"> <!-- Para la siguiente parte de tarjeta creada -->
    <div class="share--target--div">
    <i class="fa-solid fa-address-card sicon"></i> 
    <button class="share--target--div--button">Crear tarjeta</button> <!--Poner en mayúsuclas en el css/js-->
    </div>
</div>
