<div class="share__div">
    <span class="share__div__span">
        <li><i class="fa-solid fa-share-nodes"></i></li>
        <legend class="share__div__span__legend">Comparte</legend>
    </span>
    <i class="fa- fa-angle-up share__head__arrow"></i>
    <i class="fa-solid fa-angle-down ssolidhare__head__arrow"></i>
</div>

<div class="share__target">
    <i class="fa-solid fa-address-card icon-id "></i> 
    <button class="share__target__button">Crear tarjeta</button> <!--Poner en mayúsuclas en el css/js-->
</div>
