// Esta es la variable que usaremos como tamaño por defecto
$defaultFontSize: 16;

// Estos son los tamaños para las media-queries

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// fonts
// $font-main: 'Roboto', sans-serif;

// colors
// $color-text: #000;
// $color-title: #000;
// $color-background: #999;

$color--light-khaki: #f9f4dc;
$color--black-20: rgba(0, 0, 0, 0.2);
$color--tomato: #e95626;
$color--dried-blood: #420101;
$color--rusty-red: #bd1010;
$color--faded-orange: #eab052;
$color--light-grey-blue: #a0c0cf;
$color--azure: #00a0f5;
$color--white: #d5d5d5;
$color--black: #000;
$color--gunmetal: #54585a;
$color--brownish-grey: #6b6b6b;
$color--slate: #3e5b65;
$color--white-two: #fff;
$color--hospital-green: #a2deaf;
$color--silver: #bfcdd0;
$color--pale-grey: #dde9ed;
$color--dark-green-blue: #114e4e;
$color--dirty-blue: #438792;
$color--dull-orange: #e17334;
$color--white-three: #d8d8d8;
$color--white-four: #f5f5f5;

$font-merriweather-black-24: 900 24px 'Merriweather',serif;
$font-montserrat-regular-16: 16px 'Montserrat', sans-serif;
$font-opensans-regular-16:  16px 'Open Sans',sans-serif;
$font-opensans-regular-14: 14px 'Open Sans', sans-serif;
$font-opensans-regular-12-8: 12.8px 'Open Sans', sans-serif;
$font-opensans-regular-12: 12px 'Open Sans', sans-serif;
$font-opensans-semibold-18: 600 18px 'Open Sans', sans-serif;
$font-opensans-semibold-16: 600 16px 'Open Sans', sans-serif;
$font-opensans-semibold-12: 600 12px 'Open Sans', sans-serif;