.main--2 {
width: 100vw;
 @include tablet {
    display: flex;
    flex-direction: row-reverse;
   justify-content: flex-end;
 }
 &--form{
    display: flex;
    flex-direction: column;
    padding: 27px 20px 0px 20px;
   margin-bottom: 30px;
 }
 .collapsed {
   display: none;
 }
 .arrow-collapsed {
   transform: rotate (180deg) translate (0, 10px);
}
}
