.main--2 {
width: 100vw;
background-image: linear-gradient(to bottom, $color--white-four, $color--white-two 9%);
 @include tablet {
    display: flex;
    flex-direction: row-reverse;
   justify-content: flex-end;
 }

 
 &--form{
    display: flex;
    flex-direction: column;
    padding: 15px 20px 0px 20px;
   margin-bottom: 30px;
  @include tablet {
    // width: 80%;
    padding: 15px 20px 0px 40px;
  }
 }
 .collapsed {
   display: none;
 }
 .arrow-collapsed {
   transform: rotate(180deg);
}
}
.container{
  @include desktop {
    width: 70vw;
    
  }
  
}

