.main--2 {
width: 100vw;
background-image: url(../images/background-opacity.png);
background-size: cover;
 @include tablet {
    display: flex;
    flex-direction: row-reverse;
   justify-content: flex-end;
 }

 
 &--form{
    display: flex;
    flex-direction: column;
    padding: 15px 20px 0px 20px;
   margin-bottom: 30px;
  @include tablet {
    max-width: 30vw;
    padding: 15px 20px 0px 40px;
  }
 }
 .collapsed {
   display: none;
 }
 .fa-cake-candles {
  color: $color--dull-orange;
 }
 .arrow-collapsed {
   color: $color--gunmetal;
}
.animation{
  max-height: 0;
  overflow: hidden;
  transform: scaleY(0);
  }
.animation-open {
  max-height: 100%;
  transition: transform 0.3s ease-out;
  transform: scaleY(1);
    }
}
.container{
  @include tablet {
    width: 65vw;
  }
  @include desktop {
    width: 70vw;
    
  }
  
}

