.design {
   width: 17px;
   height: 17px;
   border: $color--white;
   border: 0;
   border-bottom: $color--white-three;
    &--div {
        display: flex;
        justify-content: space-between;
        &--inside {

        }
            &--icon {

            }
            &--legend {
                border: 5px solid cyan;
            }
    }
    &--arrow {

    }    
}

