.main--2--form--fill {
    background-color: white;
   
    font: $font-opensans-regular-14;
    color: $color--dark-green-blue;
    &--legend {
        width: 100%;
        border-top: solid 1px $color--white-three;
        display: grid;
        grid-template-columns: 30px 1fr 5fr;
        margin: 10px 0 15px 0;
        padding-top: 10px;
        align-items: center;
        justify-items: start;
        color: $color--gunmetal;
        cursor: pointer;

       
        &--keyboard {
            color:$color--dull-orange;
            font-size: 18px;
            
        }
        &--title{
            font:$font-opensans-semibold-18;
            margin-left: 10px;
            text-transform: uppercase;
            
        }
        &--up {
            font-size: 18px;
            justify-self: end;
           
        }
        
    }
    &--div{
        display: flex;
        flex-direction: column;align-items: flex-start;
        margin: 10px 0px 20px 0px;
        ::placeholder{
            color: $color--white-three;
        }
        
        
        &--input { 
            border:solid 1px $color--hospital-green;
            margin: 10px 10px 20px 0;
            height: 30px;
            width: 97%;
            padding: 0 0 4px 7px;
        
        }
        &--img {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 0.3fr 1fr  ;
       
            &--label--falseBtn {
                cursor: pointer;
                grid-area: 2/1;
                color: $color--white-two;
                background-color:   $color--dull-orange;
                padding: 5px 20px ;
                border-radius: 3px;
                margin: 10px 0px;
                width: 140px;
                text-align: center;
                box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
            }
            &--div--rectangle {
                border: solid 1px   $color--hospital-green;
                width: 30px;
                height: 30px;
                grid-area: 2/2;
                margin: 10px 10px 10px 20px;

            }
            &--input {
                display: none;
            }
        
    }

}
}
 
