.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 110px;
    row-gap: 12px;
    border-top: solid 1px $color--white-three;
    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        height: 60px;
        padding: 0 40px 0 40px;
    }
    &--name--app {
        font: $font-opensans-regular-14;
        font-size: 14px;
        color: $color--brownish-grey;
        line-height: 20px;
        opacity: 0.5;
    }
    &--logo {
        &--logo-adalab {
            width: 103px;
            height: 40px;
        }
    }
}
