.header {
  height: 111px;
  cursor: pointer;
@include tablet {
    display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
}
.logo--menu{
  margin: 31px 79px 30px 40px;
  width: 201px;
  height: 50px;
}
}
