

.main--2--preview {
  height: 457px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  //margin-top: 200px;
  background-color: $color--silver;
  //position: relative;
  //top: 30px;
    @include tablet {
  
          width: 329px;
          height: 812px;
          border-radius: 6px;
          margin-left: 350px;
          padding: 20px 40px 20px 30px;
          margin: 20px;


          &--card {
              margin: 223px 50px 260px 45px;
    
      }
     }

            @include desktop {
                width: 585px;
                min-height: 812px;
                border-radius: 6px;
                padding: 20px 40px 20px 30px;
                margin: 20px;
              
            }

  &--card {
    margin: 88px 35px 40px 40px;

    &--button {
      position: relative;
      top: -20px;
      height: 30px;
      padding: 4px 12px 6px 10px;
      border-radius: 15px;
      border: solid 1px $color--white-two;
      font-size: 11px;
      text-transform: uppercase;
      background-color: $color--silver;
      //margin-top: 30px;
    }
  }


&--profile {
  width: 240px;
  height: 305px;
  margin-bottom: 40px;
  background-color: $color--white-two;
  padding: 21px 0 12px;
  border-radius: 2px;

  &--div {
    width: 5px;
    min-height: 42px;
    margin: 2px 15px 10px 0;
    background-color: $color--dirty-blue;

    &--name {
      width: 206px;
      height: 20px;
      margin: 0 14px 4px 15px;
      font: $font-montserrat-regular-16;
      font-size: 18px;
      color: $color--dark-green-blue;
      font-weight: bold;
    }
    
    &--p {
      width: 168px;
      height: 20px;
      margin: 4px 52px 10px 15px;
      font: $font-montserrat-regular-16;
      color: $color--gunmetal;
    }
  }


&--div--image {
  width: 240px;
  height: 200px;
  margin: 10px 0;
  background-image: url(../images/favicon.png);
  position: relative;
  top: 10px;
}
&--icons {
  margin-right: 30px;

  &--ul {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    

    &--mobile {
      border: solid 2px $color--hospital-green;
      font-size: 18px;
      width: 27px;
      height: 27px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      &--a {
        color: $color--dark-green-blue;
      }
    }

    &--e-mail {
      border: solid 2px $color--hospital-green;
      font-size: 18px;
      width: 27px;
      height: 27px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      &--a {
          color: $color--dark-green-blue;
        }
    }

    &--linkedin {
      border: solid 2px $color--hospital-green;
      font-size: 18px;
      width: 27px;
      height: 27px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      &--a {
          color: $color--dark-green-blue;
        }
    }

    &--github {
      border: solid 2px $color--hospital-green;
      font-size: 18px;
      width: 27px;
      height: 27px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      &--a {
          color: $color--dark-green-blue;
        }
    }
  }
}
}
.main--2--preview--profile--div.palette2 {

  background-color: $color--dried-blood;
  
}
.main--2--preview--profile--div--name.palette2 {
  color:$color--rusty-red;
}

.main--2--preview--profile--icons--ul--mobile.palette2 {
border: solid 2px $color--tomato;
}
.main--2--preview--profile--icons--ul--e-mail.palette2 {
  border: solid 2px $color--tomato;
}
.main--2--preview--profile--icons--ul--linkedin.palette2 {

  border: solid 2px $color--tomato;
}
.main--2--preview--profile--icons--ul--github.palette2 {
border: solid 2px $color--tomato;
}
.main--2--preview--profile--icons--ul--mobile--a.palette2 {
  color:$color--dried-blood;
}
.main--2--preview--profile--icons--ul--e-mail--a.palette2 {
  color: $color--dried-blood;
}
.main--2--preview--profile--icons--ul--linkedin--a.palette2 {
  color: $color--dried-blood;
}
.main--2--preview--profile--icons--ul--github--a.palette2 {
  color: $color--dried-blood;
}
.main--2--preview--profile--div.palette3 {

  background-color: $color--faded-orange;

}

.main--2--preview--profile--div--name.palette3 {
  color: $color--slate;

 }



.main--2--preview--profile--icons--ul--mobile.palette3 {
  border: solid 2px $color--light-grey-blue;
}

.main--2--preview--profile--icons--ul--e-mail.palette3 {
  border: solid 2px $color--light-grey-blue;
}

.main--2--preview--profile--icons--ul--linkedin.palette3 {

  border: solid 2px $color--light-grey-blue;
}

.main--2--preview--profile--icons--ul--github.palette3 {
  border: solid 2px $color--light-grey-blue;
}

.main--2--preview--profile--icons--ul--mobile--a.palette3 {
  color: $color--slate;
}

.main--2--preview--profile--icons--ul--e-mail--a.palette3 {
  color: $color--slate;
}

.main--2--preview--profile--icons--ul--linkedin--a.palette3 {
  color: $color--slate;
}

.main--2--preview--profile--icons--ul--github--a.palette3 {
  color: $color--slate;
}
}





