.main--2--form--share {
        // display: flex;
        // justify-content: space-between;
        // width: 100%;
        // padding-top: -15px;
        // padding-bottom: 8px;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid $color--white-three;
        &--legend {
            border-top: 1px solid $color--white-three;
            display: grid;
            grid-template-columns: 0.7fr 1fr 5fr;
                margin: 10px 0 20px 10px;
                padding-top: 10px;
                align-items: center;
                justify-items: start;
                color: $color--gunmetal;
            
            &--nodes {
                color: $color--dull-orange;
                font-size: 18px;
                
            }
            &--title {
                font: $font-opensans-semibold-18;
                
                  
                    text-transform: uppercase;
            }
            &--up {
                font-size: 18px;
                    justify-self: end;
                    
            }
        } 
           
    &--target {
        background-color: $color--dull-orange;
        color: $color--white-two;
        border-radius: 12px;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
        width: 199px;
        padding: 13px 0 13px 0;
        text-align: center;
        margin-bottom: 30px;
        &--icon {
            margin-right: 9px;
            font-size: 22px;
            color: $color--white-two;
        }
        &--button {
            font: $font-opensans-semibold-18;
            text-transform: uppercase;
            border: 0px solid transparent;
            background-color: inherit;
            color: inherit;
            padding: 2px;
            border-radius: 12px;
        }  
    }
}        

